@model RentAppMVC.Models.ShoppingCart

<h1>Shopping Cart</h1>

<p>Start Date: @Model.StartDate.ToShortDateString()</p>
<p>Start Time: @Model.StartTime.ToString("hh':'mm")</p>
<p>End Date: @Model.EndDate.ToShortDateString()</p>
<p>End Time: @Model.EndTime.ToString("hh':'mm")</p>
<p>Total Hours: @Model.TotalHours</p>

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["ErrorMessage"]
    </div>
}

<table class="table">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Hourly Price</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderLine in Model.Items)
        {
            <tr>
                <td>@orderLine.SerialNumber</td>
                <td>@orderLine.Product.HourlyPrice</td>
                <td>
                    <form asp-controller="ShoppingCart" asp-action="RemoveItem" method="post">
                        <input type="hidden" name="serialNumber" value="@orderLine.SerialNumber" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>

<p style="font-size: 18px; text-align: center;">Subtotal Price: @Model.SubTotalPrice</p>
<p style="font-size: 24px; text-align: center;">Total Order Price: @Model.TotalOrderPrice</p>


<div class="row">
    <div class="col-md-6">
        <form asp-controller="ShoppingCart" asp-action="EmptyCart" method="post">
            <button type="submit" class="btn btn-danger">Empty Cart</button>
        </form>
    </div>
    <div class="col-md-6 text-md-end">
        @if (Model.StartDate != default && Model.EndDate != default && Model.StartTime != default && Model.EndTime != default && Model.Items.Any())
        {
            <form asp-controller="Checkout" asp-action="CreateOrder" method="post">
                <button type="submit" class="btn btn-primary">Checkout</button>
            </form>
        }
    </div>
</div>
