@model RentAppMVC.Models.ShoppingCart

<h1>Shopping Cart</h1>

<p>Start Date: @Model.StartDate.ToShortDateString()</p>
<p>Start Time: @Model.StartTime.ToString("hh':'mm")</p>
<p>End Date: @Model.EndDate.ToShortDateString()</p>
<p>End Time: @Model.EndTime.ToString("hh':'mm")</p>

<table class="table">
    <thead>
        <tr>
            <th>Serial Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var orderLine in Model.Items)
        {
            <tr>
                <td>@orderLine.SerialNumber</td>
                <td>
                    <form asp-controller="ShoppingCart" asp-action="RemoveItem" method="post">
                        <input type="hidden" name="serialNumber" value="@orderLine.SerialNumber" />
                        <button type="submit" class="btn btn-danger">Remove</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
<form asp-controller="ShoppingCart" asp-action="EmptyCart" method="post">
    <button type="submit" class="btn btn-danger">Empty Cart</button>
</form>
