@model List<Product>

@{
    ViewData["Title"] = "Products By Category";
}

<style>
    .product-card {
        margin-bottom: 20px;
    }

        .product-card .card {
            background-color: black; /* Set the background color of the card */
            color: white; /* Set text color to white */
            border-radius: 10px; /* Add some border-radius for rounded corners */
        }

        .product-card .card-title {
            color: white; /* Set text color to white */
        }

        .product-card .btn-primary {
            background-color: white; /* Set the background color of the button */
            color: black; /* Set text color to black */
            border: none; /* Remove border */
            border-radius: 10px; /* Add some border-radius for rounded corners */
            cursor: pointer; /* Add pointer cursor */
        }
</style>

<h1>Products By Category</h1>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-md-4 mb-4 product-card">
            <div class="card">
                <img src="@product.ImagePath" class="card-img-top">
                <div class="card-body">
                    <h5 class="card-title">@product.ProductName</h5>
                    <p class="card-text">@product.Description</p>
                    <p class="card-text">Price: $@product.HourlyPrice</p>
                    <!-- Add form for adding product to cart -->
                    <form action="@Url.Action("AddToCart", "ShoppingCart")" method="post">
                        <input type="hidden" name="productId" value="@product.ProductID" />
                        <button type="submit" class="btn btn-primary">
                            Add to Cart <i class="fas fa-shopping-cart"></i>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>
